<!--5o paso-->
<div class="col-sm-12 col-md-6">
  <form class="col-sm-12 col-md-12 ppc-new-form">
    <h1>5/6</h1>
    <div class="progress ppc-new-progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%;"></div>
    </div>
    <div class="nueva-mi-propuesta-texto">
        <h2>Beneficiarios</h2>
        <span class="texto">¿Quiénes o qué serán los beneficiarios directos e indirectos de tu propuesta?</span>
    </div>
    <textarea ng-model="propuesta_nueva.beneficiarios" rows="8" style="width:100%"></textarea>
    <center class="col-sm-12 col-md-12">
      <input type="button" value="SALTAR ESTE PASO" ng-click="ctrl.saltar()">
      <input type="button" value="CONTINUAR" ng-click="ctrl.contexto()">
      <input type="button" value="PUBLICAR AHORA" ng-click="ctrl.publicar()">
    </center>
  </form>
  <div class="hidden-xs hidden-sm col-md-12">
    <article class="ppc-tip">
      <section class="header">TIP</section>
      <p>{{tip.contenido}}</p>
    </article>
  </div>
</div>

<div class="col-sm-12 col-md-6 ppc-simi-summary">
  <div class="ppc-simi-header">
    <span class="total">{{aux.length}}</span> <span class="texto">Propuestas similares</span>
  </div>
  <p>Estas propuestas se parecen a la tuya, tal vez te conviene más unirte a alguna:</p>
</div>

<ppc-list class="col-sm-12 col-md-3 ppc-simi-list" ng-repeat="item in aux = (sugerencias | filter: {alcance: propuesta_nueva.alcance} | hasCategories: propuesta_nueva.categorias)"></ppc-list>
