<article class="ppc-item">
  <section class="fecha">{{item.fecha|date: 'longDate'}}</section>
  <section class="votos">
    <span class="numero">{{item.votos | number}}</span>
    <span class="imagen"><img src="img/votos.svg" alt="" /></span>
  </section>
  <section class="autor">{{item.autor}}</section>
  <section class="titulo"><a href="#/detail/{{item._id}}">{{item.titulo}}</a></section>
  <section class="categorias">
    <span ng-repeat="c in item.categorias">{{c}}{{(!$last)?', ':''}}</span>
  </section>
  <h4 class="representantes-texto">REPRESENTANTES:</h4>
  <section class="representantes" ng-repeat="r in item.representantes">
    <article class="representante">
      <section class="nombre">{{r.nombre}}</section>
      <section class="cargo">{{r.cargo}}</section>
      <section class="status" ng-show="{{r.status}}">&#x2714</section>
    </article>
  </section>

  <input class="apoyar" type="button" value="APOYA ESTA PROPUESTA" ng-click="apoyar(item)"/>
</article>
