<!DOCTYPE html>
<html ng-app="ppc">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js" charset="utf-8"></script>
    <script src="node_modules/angular-route/angular-route.min.js" charset="utf-8"></script>
    <script src="js/factory.js" charset="utf-8"></script>
    <script src="js/controllers.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <script src="node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body style="padding-top: 70px;">

    <ppc-nav></ppc-nav>
    <ng-view></ng-view>
  </body>
</html>
